{% extends "main/base.html" %}

{% block content %}
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    ToFinish
                </a>
            </li>
            <li>
                <a href="#"><strike>Dashboard ({{ request.session.username }})</strike></a>
            </li>
            <li>
                <a href="/task_project">Proyek Saya</a>
            </li>
            <li>
                <a href="/tasks/mine">Tugas Saya</a>
            </li>
            <li>
                <a href="/task_project/invitation">Undangan</a>
            </li>
            <li>
                <a href="/flashcard">Kartu Pengingat</a>
            </li>
            <li>
                <a href="#">Profil Saya</a>
            </li>
            <li>
                <a href="#"><strike>Pengaturan</strike></a>
            </li>
            <li role="presentation" class="divider"></li>
            <li>
                <a href="/logout">Log out</a>
            </li>
            
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="margin-bottom:20px;">
                    <a href="#menu-toggle" class="btn btn-default pull-left btn-xs" style="margin-left:-22px;margin-top:-10px;position:fixed;z-index:100;" id="menu-toggle">Menu</a>
                </div>

                {% block main_content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
{% load staticfiles %}
<script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.masonry.js' %}"> </script>
<!-- Menu Toggle Script -->
<script>

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

</script>

{% endblock %}