<html>
    <head>
        <title>Your Task Project</title>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    </head>
    <body>
        <div class="col-md-12">
            <h1>Please Login</h1>
            <hr />
            
            {% if messages %}
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            <form action="/login/" method="POST">
            	{% csrf_token %}
            	<ul>
            		<li>Username: <input type="text" name="username"></li>
            		<li>Password: <input type="password" name="password"></li>
            	</ul>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>
