{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">{{ user.username }}</span>
    <hr/>
    <br/>
</div>
<div class="col-md-12">
    <div class="col-sm-3">
        <div class="well">
            <p>Dibuat oleh: {{ task_project.owner.username }}. <br/>
                Pada {{ task_project.created_time|date:"D d M Y" }}. <br/>
                Kategori: {{ task_project.task_project_category.name }}. 
            </p>
            
            <p>{{ task_project.description }}</p>
        </div>
        <div class="well">
           <p> Pengguna yang ikut project ini: </p>

            <ul id="project-member" class="list-group">
            </ul>

            <p><a href="/task_project/member/{{ task_project.id }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> &nbsp; Lihat lainnya</a></p>
        </div>
        <div class="well">
            <p> Task Group: </p>
            <table  class="table table-striped">
                <tbody>
                {% if task_groups %}
                {% for group in task_groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td style="text-align:center;">
                            <a class="btn btn-info btn-xs" href="/task_project/groups/detail/{{ group.id }}"><span class="glyphicon glyphicon-eye-open"></span></a>  
                        </td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
            {% if task_groups %}
            <p><a href="/task_project/groups/{{ task_project.id }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> &nbsp; Lihat lainnya</a></p>
            {% else %}
            <p><a href="/task_project/groups/add/{{ task_project.id }}" class="btn btn-warning">Buat Task Group</a></p>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="col-md-12 well">
            <h4>Kemajuan Pekerjaan:</h4>
            <div class="progress  progress-striped active">
              <div class="progress-bar progress-bar-success" style="width: {{ task_progress.success }}%">
                <span>{{ task_progress.success }}% (sukses)</span>
              </div>
              <div class="progress-bar progress-bar-warning" style="width: {{ task_progress.on_progress }}%">
                <span>{{ task_progress.on_progress }}% (dikerjakan)</span>
              </div>
              <div class="progress-bar progress-bar-danger" style="width:  {{ task_progress.undone }}%">
                <span>{{ task_progress.undone }}% (belum)</span>
              </div>
            </div>
        </div>
        <div class="col-md-12">
            <span style="font-size:30px;font-weight:strong;">Daftar Task </span>
            <a href="/task_project/tasks/{{ task_project.id }}" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-list"></span> &nbsp; Selengkapnya</a>
            <br/>
            <br/>
        </div>
        <div class="col-md-12">
           <div id="list_tasks">
            
           </div>
        </div>
            
    </div>
</div>
{% load staticfiles %}
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>

<script type="text/javascript">
</script>
{% endblock %}