<html>
    <head>
        <title>Daftar Event</title>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    </head>
    <body>
        <div class="col-md-12">
            <h1>{{ event.title | upper }}</h1>
            <hr />
        
            <div class="well">
                Diselenggarakan oleh {{ event.organizer }} <br/>
                dari {{ event.date_begin }} hingga {{ event.date_end }} <br/><br/>
                venue: {{ event.venue }} <br/>
                info lain: {{ event.about }}
                <br/><br/>
            </div>
            <div class="pull-right">
                <a style="margin-right:10px;" href="/" class="btn btn-primary">Lihat Acara Lainnya</a>
                <a style="margin-right:30px;" href="/event/join/{{event.id}}" class="btn btn-default">Ikut Acara</a>
            </div>
           
        </div>
        <br/>
        <div class="col-md-12">
            <h2>Daftar Pengunjung</h2>
            <hr />
            {% if list_visitor %}
            {% for visitor in list_visitor %}
            <div class="well col-sm-3">
                {{ visitor.name }} ({{ visitor.twitter }})
            </div>
            {% endfor %}
            {% else %}
            <div class="well" style="text-align:center;">
                <strong>Belum ada pengunjung...</strong>
            </div>
            {% endif %}
            
        </div>
    </body>
</html>
