<html>
    <head>
        <title>Daftar Event</title>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    </head>
    <body>
        <div class="col-md-12">
        <h1>Daftar Event yang Bisa Anda Kunjungi !</h1>
        <hr />
        {% for event in list_event %}
            <div class="col-md-4 well">
                <strong>{{ event.title | upper }}</strong>
                <hr/>
                Diselenggarakan oleh {{ event.organizer }} <br/>
                dari {{ event.date_begin }} hingga {{ event.date_end }} <br/><br/>
                <a href="/event/{{event.id}}" class="btn btn-default">Lihat Detail</a>
            </div>
        {% endfor %}
        </div>
        
    </body>
</html>
