{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/task_project">Daftar Proyek</a></li>
      <li class="active">Detail</li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">{{ task_project.name }} </span>
    <hr/>
    <br/>
</div>
<div class="col-md-12">
    <div class="col-sm-3">
        <div class="well">
            <p>Dibuat oleh: {{ task_project.owner.username }}. <br/>
                Pada {{ task_project.created_time|date:"D d M Y" }}. <br/>
                Kategori: {{ task_project.task_project_category.name }}. 
            </p>
            
            <p>{{ task_project.description }}</p>
        </div>
        <div class="well">
           <p> Pengguna yang ikut project ini: </p>

            <ul id="project-member" class="list-group">
            </ul>

            <p><a href="/task_project/member/{{ task_project.id }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> &nbsp; Lihat lainnya</a></p>
        </div>
        <div class="well">
            <p> Task Group: </p>
            <table  class="table table-striped">
                <tbody>
                {% if task_groups %}
                {% for group in task_groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td style="text-align:center;">
                            <a class="btn btn-info btn-xs" href="/task_project/groups/detail/{{ group.id }}"><span class="glyphicon glyphicon-eye-open"></span></a>  
                        </td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
            {% if task_groups %}
            <p><a href="/task_project/groups/{{ task_project.id }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> &nbsp; Lihat lainnya</a></p>
            {% else %}
            <p><a href="/task_project/groups/add/{{ task_project.id }}" class="btn btn-warning">Buat Task Group</a></p>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="col-md-12 well">
            <h4>Kemajuan Pekerjaan:</h4>
            <div class="progress  progress-striped active">
              <div class="progress-bar progress-bar-success" style="width: {{ task_progress.success }}%">
                <span>{{ task_progress.success }}% (sukses)</span>
              </div>
              <div class="progress-bar progress-bar-warning" style="width: {{ task_progress.on_progress }}%">
                <span>{{ task_progress.on_progress }}% (dikerjakan)</span>
              </div>
              <div class="progress-bar progress-bar-danger" style="width:  {{ task_progress.undone }}%">
                <span>{{ task_progress.undone }}% (belum)</span>
              </div>
            </div>
        </div>
        <div class="col-md-12">
            <span style="font-size:30px;font-weight:strong;">Daftar Task </span>
            <a href="/task_project/tasks/{{ task_project.id }}" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-list"></span> &nbsp; Selengkapnya</a>
            <br/>
            <br/>
        </div>
        <div class="col-md-12">
           <div id="list_tasks">
            
           </div>
        </div>
            
    </div>
</div>
{% load staticfiles %}
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){

        getAllUsers();
        getAllTask();
    });

    function getAllUsers(){
        $.ajax({
            url : "/api/task_project_member/by_project/"+{{ task_project.id }},
            success : function(data){
                if (data.error == 0){
                    console.log(data.msg);
                    results = data.results;
                    html = '';
                    for (item in results){
                        html += '<li class="list-group-item"> <span class="badge" style="color:white;background:#F0AD4E;background-color:#EEA236;">'+results[item].status+'</span> '+results[item].member+'</li>';
                    }

                    $('#project-member').html('');
                    $('#project-member').html(html);
                }
                else {
                    console.log(data.msg);
                
                }
            }
        });
    }

    function getAllTask(){
        $.ajax({
            url : "/api/tasks/task_project/"+{{ task_project.id }},
            success : function(data){
                if (data.error == 0){
                    
                    console.log(data.msg);
                    results = data.results;
                    console.log(results);

                    html = '';
                    if (results.length > 0 ){
                        for (item in results){
                            task_elem = "";
                            tasks = results[item].task
                            
                            task_elem += '<table class="table table-striped">';
                            for (task in tasks){
                                task_elem += 
                                                '<tr>'+
                                                '<td>'+tasks[task].name+'</td>'+
                                                '<td style="text-align:center; width:130px;"><a class="btn btn-info btn-xs" href="/tasks/'+tasks[task].id+'"><span class="glyphicon glyphicon-eye-open"></span></a></td>'+
                                                '</tr>';
                                              
                            }
                            task_elem += '</table>';

                            html += '<div class="panel panel-info">'+
                                      '<div class="panel-heading">'+
                                        '<h3 class="panel-title">'+results[item].name+'</h3>'+
                                      '</div>'+
                                      '<div class="panel-body">'+
                                        results[item].description+
                                      '</div>'+
                                      task_elem+
                                    '</div>';
                        }
                    }
                    else {
                        html +=   '<div class="well" style="text-align:center;font-size:20px;padding-top:20px;padding-bottom:30px;">'+
                                      'Anda belum membuat task group dan task untuk proyek ini...'+
                                   '</div>';
                    }

                    $('#list_tasks').html('');
                    $('#list_tasks').html(html);
                }
                else {
                    console.log(data.msg);
                
                }
            }
        });
    }

    // function addUsers(elem) {
    //     console.log(elem);
    //     $.ajax({
    //         url : "/api/task_project_member/add/"+$(elem).attr('data-user-id')+"/"+$(elem).attr('data-project-id'),
    //         success : function(data){
    //             if (data.error == 0){
    //                 console.log(data.msg);
    //                 $(elem).parent().fadeOut('fast');
    //                 getAllUsers();
    //             }
    //             else {
    //                 console.log(data.msg);
                
    //             }
    //         }
    //     });
    // }

    // function findUsers(elem){
    //     $.ajax({
    //         url : "/api/task_project_member/suggest/{{ task_project.id }}",
    //         type: "GET",
    //         data: 'keyword='+$(elem).val(),
    //         success : function(data){
    //             if (data.error == 0){
    //                 result = JSON.parse(data.results);
    //                 console.log(result);
    //                 html = '';
    //                 for (item in result) {
    //                     console.log(result[item].fields.username);
    //                     html += '<li>'+result[item].fields.username+'  <a class="btn btn-primary btn-xs" href="javascript:void(0);" onclick="addUsers(this);" data-project-id="{{ task_project.id }}" data-user-id="'+result[item].pk+'">tambahkan ke projek</a></li>';
    //                 }
    //                 $('#find-users-list').html(html);
    //             }
    //             else {
    //                 $('#find-users-list').html('<li>'+data.msg+'</li>');   
    //             }
    //         }
    //     });
        
    // }
</script>
{% endblock %}