{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li class="active">Undangan Proyek</li>
      <li><a href="/task_project/invitation/before">Undangan Sebelumnya</a></li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">Undangan Proyek!</span>
    <!-- <a href="/task_project/add" class="btn btn-primary btn-sm pull-right">Buat Proyek Baru</a> -->
    <br/>
    <br/>
</div>
<div class="col-md-12">
    <form class="form">
        {% csrf_token %}
    </form>
    
    {% if list_invitation %}
    <table  class="table table-striped">
        <tbody>
        {% for invitation in list_invitation %}
            <tr>
                <td>{{ invitation.task_project.name }}</td>
                <td>Diajak oleh {{ invitation.task_project.owner }}</td>
                <td>{{ task.get_status_display }}</td>
                <td style="text-align:center;">
                    <a class="btn btn-success btn-xs" href="/task_project/invitation/approve/{{ invitation.id }}">Approve</a>  
                    <a class="btn btn-danger btn-xs" href="javascript:void(0);" data-member-id="{{ invitation.id }}" onclick="rejectUsers(this)">Reject</a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div style="text-align:center;font-size:20px;padding-top:20px;padding-bottom:30px;" class="well">
        Anda belum diajak siapapun untuk ikut proyek..
    </div>
    {% endif %}  
</div>
{% load staticfiles %}
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>

<script type="text/javascript">

    function rejectUsers(elem){
        csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
        console.log("csrf token: "+csrftoken);
        $.ajax({
            url : "/api/task_project_member/reject/",
            type: "POST",
            data: "member_id="+$(elem).attr('data-member-id'),
            beforeSend: function(xhr, settings){
                console.log(settings);
                if (!csrfSafeMethod(settings.type)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            success : function(data){
                console.log(data);
                if (data.error == 0){
                    $(elem).parent().parent().fadeOut();
                    $(elem).parent().parent().remove();
                }
                else {
                    alert(data.msg);
                }
            }
        });
    }
</script>
{% endblock %}