{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li class="active">Daftar Proyek</li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">Proyek Anda</span>
    <a href="/task_project/add" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> &nbsp; Buat Proyek Baru</a>
    <br/>
    <br/>
</div>
<div class="col-md-12">
    {% if task_project %}
    <table  class="table table-striped">
        <tbody>
        {% for project in task_project %}
            <tr>
                <td>{{ project.name }}</td>
                <td style="text-align:center;">
                    <a class="btn btn-primary btn-xs" href="/task_project/tasks/{{ project.id }}"><span class="glyphicon glyphicon-signal"></span></a> 
                    <a class="btn btn-primary btn-xs" href="/task_project/tasks/{{ project.id }}"><span class="glyphicon glyphicon-tasks"></span></a> 
                    <a class="btn btn-primary btn-xs" href="/task_project/groups/{{ project.id }}"><span class="glyphicon glyphicon-list"></span></a> 
                    <a class="btn btn-primary btn-xs" href="/task_project/member/{{ project.id }}"><span class="glyphicon glyphicon-user"></span></a> 
                    <a class="btn btn-info btn-xs" href="/task_project/{{ project.id }}"><span class="glyphicon glyphicon-eye-open"></span></a> 
                    <a class="btn btn-success btn-xs" href="/task_project/edit/{{ project.id }}"><span class="glyphicon glyphicon-pencil"></span></a>  
                    <a class="btn btn-danger btn-xs" href="/task_project/delete/{{ project.id }}"><span class="glyphicon glyphicon-trash"></span></a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div style="text-align:center;font-size:20px;padding-top:20px;padding-bottom:30px;" class="well">
        Anda belum membuat proyek satupun..
    </div>
    {% endif %}   
</div>

<!-- Modal -->
<div class="modal fade" id="tofinish-notification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Informasi</h4>
        </div>
        <div class="modal-body">
            
        </div>
        <div class="modal-footer">
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog --

{% endblock %}