{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/task_project">Daftar Proyek</a></li>
      <li><a href="/task_project/{{ task_project.id }}">Detail</a></li>
      <li class="active">Anggota</li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">Anggota {{ task_project.name }}</span>
    <hr/>
    <br/>
</div>
<div class="col-md-12">
    <div class="col-sm-3">
        <p>Ajak Pengguna:</p>

        <form class="form">
            <input type="text" name="find-users" id="find-users" class="form-control" onkeyup="findUsers(this);" />
            {% csrf_token %}
        </form>
        <ul id="find-users-list" class="list-group">
        </ul>
    </div>
    <div class="col-sm-9">
        <p> Pengguna yang ikut project ini: </p>

        <table id="project-member" class="table table-striped">
        </table> 
    </div>
</div>
{% load staticfiles %}
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){

        getAllUsers();

    });

    function getAllUsers(){
        $.ajax({
            url : "/api/task_project_member/by_project/"+{{ task_project.id }},
            success : function(data){
                if (data.error == 0){
                    console.log(data.msg);
                    results = data.results;
                    console.log(results);
                    html = '';
                    if (results.length > 0 ){
                        for (item in results){
                            if (results[item].status == 'Approved'){
                                html += '<tbody><tr><td style="text-align:center;">'+results[item].member+'</td><td style="text-align:center;"><span class="badge" style="color:white;background:#398439;background-color:#47A447">'+results[item].status+'</span></td><td style="text-align:center;">';
                                html += '<a href="javascript:void(0);" data-member-id="'+results[item].id+'" onclick="dismissUsers(this)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span> &nbsp; Dismiss</a></td></tr></tbody>';
                            }
                            else if (results[item].status == 'Pending'){
                                html += '<tbody><tr><td style="text-align:center;">'+results[item].member+'</td><td style="text-align:center;"><span class="badge" style="color:white;background:#F0AD4E;background-color:#EEA236;">'+results[item].status+'</span></td><td style="text-align:center;">';
                                html += '<a href="javascript:void(0);" data-member-id="'+results[item].id+'" onclick="rejectUsers(this)" class="btn btn-xs btn-warning">Cancel</a></td></tr></tbody>';
                            }
                            else if (results[item].status == 'Leaved'){
                                html += '<tbody><tr><td style="text-align:center;">'+results[item].member+'</td><td style="text-align:center;"><span class="badge" style="color:white;background:#F0AD4E;background-color:#EEA236;">'+results[item].status+'</span></td><td style="text-align:center;">';
                                html += '<a href="javascript:void(0);" data-member-id="'+results[item].id+'" onclick="reapproveUsers(this)" class="btn btn-xs btn-success">Reapprove</a></td></tr></tbody>';
                            }
                        }
                    }
                    else {
                        html += '<div style="text-align:center;font-size:20px;padding-top:20px;padding-bottom:30px;" class="well"> \
                                    Anda belum mengajak seseorang pun untuk proyek ini.. \
                                </div>';
                    }
                    $('#project-member').html('');
                    $('#project-member').html(html);
                }
                else {
                    console.log(data.msg);
                
                }
            }
        });
    }

    function addUsers(elem) {
        console.log(elem);
        $.ajax({
            url : "/api/task_project_member/add/"+$(elem).attr('data-user-id')+"/"+$(elem).attr('data-project-id'),
            success : function(data){
                if (data.error == 0){
                    console.log(data.msg);
                    $(elem).parent().fadeOut('fast');
                    getAllUsers();
                }
                else {
                    console.log(data.msg);
                
                }
            }
        });
    }

    function findUsers(elem){
        $.ajax({
            url : "/api/task_project_member/suggest/{{ task_project.id }}",
            type: "GET",
            data: 'keyword='+$(elem).val(),
            success : function(data){
                if (data.error == 0){
                    result = JSON.parse(data.results);
                    console.log(result);
                    html = '';
                    for (item in result) {
                        console.log(result[item].fields.username);
                        html += '<li class="list-group-item">'+result[item].fields.username+'  <a class="btn btn-primary btn-xs pull-right" href="javascript:void(0);" onclick="addUsers(this);" data-project-id="{{ task_project.id }}" data-user-id="'+result[item].pk+'">tambahkan</a></li>';
                    }
                    $('#find-users-list').html(html);
                }
                else {
                    $('#find-users-list').html('<li>'+data.msg+'</li>');   
                }
            }
        });
        
    }

    function rejectUsers(elem){
        csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
        console.log("csrf token: "+csrftoken);
        $.ajax({
            url : "/api/task_project_member/reject/",
            type: "POST",
            data: "member_id="+$(elem).attr('data-member-id'),
            beforeSend: function(xhr, settings){
                console.log(settings);
                if (!csrfSafeMethod(settings.type)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            success : function(data){
                console.log(data);
                if (data.error == 0){
                    $(elem).parent().parent().fadeOut();
                    $(elem).parent().parent().remove();
                }
                else {
                    alert(data.msg);
                }
            }
        });
    }

    function reapproveUsers(elem){
        csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
        console.log("csrf token: "+csrftoken);
        $.ajax({
            url : "/api/task_project_member/reapprove/",
            type: "POST",
            data: "member_id="+$(elem).attr('data-member-id'),
            beforeSend: function(xhr, settings){
                console.log(settings);
                if (!csrfSafeMethod(settings.type)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            success : function(data){
                console.log(data);
                if (data.error == 0){
                    $(elem).parent().parent().fadeOut();
                    $(elem).parent().parent().remove();
                }
                else {
                    alert(data.msg);
                }
            }
        });
    }
</script>
{% endblock %}