{% extends "main/layout.html" %}

{% block main_content %}
<!-- 
    File ini akan menampilkan daftar tugas yang akan berakhir atau tidak yang mendekati deadline.
    File ini menampilkan status apakah tugas sudah berakhir atau belum.
    Task diurutkan berdasarkan waktu yang akan habis
-->
<div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/task_project">Daftar Proyek</a></li>
      <li><a href="/task_project/{{ task_project.id }}">Detail</a></li>
      <li>Daftar Task</li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">Daftar Task - {{ task_project.name }}</span>
    <a href="/task_project/groups/add/{{ task_project.id }}" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> &nbsp; Buat Task Group</a>
    <br/>
    <br/>
</div>
<div class="col-md-12">
   <div id="list_tasks">
   	
   </div>
</div>


{% load staticfiles %}
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){

        getAllTask();

    });

    function getAllTask(){
        $.ajax({
            url : "/api/tasks/task_project/"+{{ task_project.id }},
            success : function(data){
                if (data.error == 0){
                    
                    console.log(data.msg);
                    results = data.results;
                    console.log(results);

                    html = '';
                    idx = 0;
                    if (results.length > 0){
                        for (item in results){
                        	task_elem = "";
                        	tasks = results[item].task;

                        	task_elem += '<table class="table table-striped"><thead><tr><td>Tugas</td><td>Status</td><td>Eksekutor</td><td>Waktu Akhir</td><td>Menuju Deadline</td><td>Aksi</td></tr></thead><tbody>';
                            
                            if (tasks.length > 0){
                                
                                
                                for (task in tasks){
                            		task_elem += 
                            						'<tr>'+
                            						'<td>'+tasks[task].name+'</td>'+
                                                    '<td>'+tasks[task].status+'</td>'+
                                                    '<td>'+tasks[task].executor+'</td>'+
                                                    '<td><span id="deadline-date-'+idx+'">'+tasks[task].end_time_js+'</span></td>'+
                                                    '<td><span data-js-time="'+tasks[task].end_time_js+'" id="deadline-viewer-'+idx+'">0000-00-00 00:00:00</span>'+
                                                        '<script type="text/javascript">'+
                                                            '$("#deadline-viewer-'+idx+'").ready(function(){'+
                                                                'console.log($("#deadline-viewer-'+idx+'").html());'+
                                                                'simpleCountdown("'+tasks[task].end_time_js+'", "deadline-viewer-'+idx+'");'+
                                                            '});'+
                                                        '<\/script>'+
                                                    '</td>'+
                                                    '<td style="text-align:center; width:130px;"><a class="btn btn-info btn-xs" href="/tasks/'+tasks[task].id+'"><span class="glyphicon glyphicon-eye-open"></span></a></td>'+
                            						'</tr>';
        							idx ++;			  
                            	}
                        	}
                            else {
                                task_elem += '<tr><td colspan="6" style="text-align:center;font-size:20px;padding-top:20px;padding-bottom:30px;">Tidak ada tugas...</td></tr>'
                            }

                            task_elem += '</tbody></table>';

                            html += '<div class="panel panel-info">'+
    								  '<div class="panel-heading">'+
    								    '<h3 class="panel-title">'+results[item].name+'</h3> <a href="/tasks/add/'+results[item].id+'" class="btn btn-success btn-sm pull-right" style="margin-top:-23px;"><span class="glyphicon glyphicon-plus"></span> &nbsp; Buat Task</a>'+
    								  '</div>'+
    								  '<div class="panel-body">'+
    								  '</div>'+
    								  task_elem+
    								'</div>';
                            
                        }
                    }
                    else {
                         html +=   '<div class="well" style="text-align:center;font-size:20px;padding-top:20px;padding-bottom:30px;">'+
                                      'Anda belum membuat task group dan task untuk proyek ini...'+
                                   '</div>';
                    }
                    // html += '<input type="text" id="tasks-count" value="'+i+'" />';

                    $('#list_tasks').html('');
                    $('#list_tasks').html(html);
                    
                    // for (i=0; i < idx; i++){
                    //     showDeadline('deadline-date-'+i, 'deadline-viewer-'+i);
                    // }

                }
                else {
                    console.log(data.msg);
                
                }
            }
        });
    }

    function simpleCountdown(time_limits, target_elem){
   
        var days, hours, minutes, seconds;
        var time_limit = Date.parse(time_limits);
        var target_date = new Date(time_limit).getTime();
        var countdown = document.getElementById(target_elem);
         
        // update the tag with id "countdown" every 1 second
        setInterval(function () {
            
            var current_date = new Date();
            var current_datetime = current_date.toDateString()+ " "+current_date.getHours()+":"+current_date.getMinutes()+":"+current_date.getSeconds();
            var temp_current_datetime = Date.parse(current_datetime);
            var real_current_datetime = new Date(temp_current_datetime).getTime();
            var seconds_left = (target_date - real_current_datetime ) / 1000;
            
            console.log(time_limits + " > " + current_datetime);
            // console.log(target_date - real_current_datetime);

            days = parseInt(seconds_left / 86400);
            seconds_left = seconds_left % 86400;
             
            hours = parseInt(seconds_left / 3600);
            seconds_left = seconds_left % 3600;
             
            minutes = parseInt(seconds_left / 60);
            seconds = parseInt(seconds_left % 60);
             
            if (seconds_left < 0 && days < 0 && hours < 0 && minutes < 0){
                countdown.innerHTML = 'Time Limit Habis';  
            } 
            else {
                countdown.innerHTML = days + "d, " + hours + "h, "+ minutes + "m, " + seconds + "s";  
            }
             
        }, 1000);
    }
</script>
{% endblock %}