{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/task_project">Daftar Proyek</a></li>
      <li><a href="/task_project/{{ task_project.id }}">Detail</a></li>
      <li class="active">Task Group</li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">Task Group - {{ task_project.name }}</span>
    <a href="/task_project/groups/add/{{ task_project.id }}" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> &nbsp; Buat Task Group</a>
    <br/>
    <br/>
</div>
<div class="col-md-12">
    {% if task_groups %}
    <table  class="table table-striped">
        <tbody>
        {% for group in task_groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td style="text-align:center;">
                    <a class="btn btn-info btn-xs" href="/task_project/groups/detail/{{ group.id }}"><span class="glyphicon glyphicon-eye-open"></span></a> 
                    <a class="btn btn-success btn-xs" href="/task_project/groups/edit/{{ group.id }}/{{ group.task_project.id }}"><span class="glyphicon glyphicon-pencil"></span></a>  
                    <a class="btn btn-danger btn-xs" href="/task_project/groups/delete/{{ group.id }}"><span class="glyphicon glyphicon-trash"></span></a> 
                 </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div style="text-align:center;font-size:20px;padding-top:20px;padding-bottom:30px;" class="well">
            Anda belum membuat task group satupun untuk proyek ini..
        </div>
    {% endif %}           
</div>
{% endblock %}