{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/flashcard">Kartu Pengingat</a></li>
      <li class="active">Tambah Kartu Pengingat</li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">Kartu Pengingat</span>
    <br/>
    <br/>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
          <form class="form-horizontal"action="/flashcard/add" method="post">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 control-label">Nama</label>
                    <div class="col-lg-10">
                      <!-- <input class="form-control" id="inputEmail1" placeholder="Email" type="email"> -->
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Deskripsi</label>
                    <div class="col-lg-10">
                      <!-- <input class="form-control" id="inputPassword1" placeholder="Password" type="password"> -->
                      {{ form.description.errors }}
                      {{ form.description }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Kategori Kartu Pengingat</label>
                    <div class="col-lg-10">
                        {{ form.flashcard_category.errors }}
                        {{ form.flashcard_category }}
                        {{ form.owner.errors }}
                        {{ form.owner }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <input type="submit" class="btn btn-info" value="Simpan" />
                    </div>
                  </div>
          </form>
      </div>
    </div>
</div>
{% endblock %}