{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li class="active">Kartu Pengingat</li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">Kartu Pengingat Anda!</span>
    <a href="/flashcard/add" class="btn btn-primary btn-sm pull-right">Buat Kartu Pengingat</a>
    <br/>
    <br/>
</div>
<div class="col-md-12">
    {% if flashcard %}
	    {% for card in flashcard %}
	    	<div class="flashcard col-md-3">
		    	<div class="panel panel-default">
		          <div class="panel-heading">
		            <h4 class="panel-title">{{ card.name }}</h4>
		          </div>
		          <div class="panel-body" style="word-wrap:break-word;">
		          	<ul class="list-group" id="flashcard-item-{{ card.id }}">
					{% for item in card.flashcarditem_set.all %}
		            <li class="list-group-item">{{ item.name }} <a data="{{ item.id }}" onclick="deleteFlashcardItem(this)" class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span></a></li>
					{% endfor %}
					</ul>
				  </div>
		          <div class="panel-footer">
		            <div class="btn-group dropup">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					    <span class="glyphicon glyphicon-wrench"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="/task_project/{{ project.id }}"><span class="glyphicon glyphicon-eye-open"></span> Detail</a>  </li>
			            <li><a href="/flashcard/edit/{{ card.id }}"><span class="glyphicon glyphicon-pencil"></span> Edit </a></li>
			            <li class="divider"></li>
					    <li><a href="/flashcard/delete/{{ card.id }}"><span class="glyphicon glyphicon-trash"></span> Hapus</a> </li>
					  </ul>
					</div>
					&nbsp;
					<a data-toggle="modal" href="#tambahFlashcardItem" onclick="addFlashcardItem('flashcard-item-{{ card.id }}', {{ card.id }});" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
		          </div>
		        </div>
	        </div>

	    {% endfor %}
    {% else %}
    <div style="text-align:center;font-size:20px;padding-top:20px;padding-bottom:30px;" class="well">
        Anda belum membuat flashcard satupun..
    </div>
    {% endif %}   

</div>

<!-- Modal -->
<div class="modal fade" id="tambahFlashcardItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      <h4 class="modal-title">Penambahan Item - </h4>
	    </div>
    	<form class="form-horizontal" id="form-add-flashcard-item">
            <div class="modal-body">
		        {% csrf_token %}
				<div class="form-group">
					<label for="flashcard-item-name" class="col-lg-2 control-label">Flashcard Item</label>
					<div class="col-lg-10">
					  <input class="form-control" id="flashcard-item-name" name="flashcard-item-name" placeholder="Isi dengan Flashcard Item..." type="text">
					  <input id="flashcard-item-target" type="hidden">
					  <input id="flashcard-item-flashcard" name="flashcard-item-flashcard" type="hidden" value="">
					</div>
				</div>
		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-danger" data-dismiss="modal">Batalkan</button>
		      <button type="button" class="btn btn-primary" onclick="submitFlashcardItem();">Tambah</button>
		    </div>
	    </form>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% load staticfiles %}
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#container').masonry({
			itemSelector : '.flashcard',
		});
		
	});

	function addFlashcardItem(target, flashcard_id){
		console.log(target);
		
		$('#flashcard-item-target').val(target);
		$('#flashcard-item-flashcard').val(flashcard_id);
			
	}

	function submitFlashcardItem(){
		console.log($('#form-add-flashcard-item').serialize());
		csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
        console.log("csrf token: "+csrftoken);

		$.ajax({
            url : "/api/flashcard/item/add/",
            type: "POST",
            data: $('#form-add-flashcard-item').serialize(),
            beforeSend: function(xhr, settings){
                console.log(settings);
                if (!csrfSafeMethod(settings.type)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }

            },
            success : function(data){
                
                if (data.error == 200){
                	// console.log(JSON.parse(data.results));
                	results = JSON.parse(data.results);
                	console.log(results);

                	elem = "";
                	for (i in results){
                		elem += '<li class="list-group-item">'+results[i].fields.name+' <a data="'+results[i].pk+'" onclick="deleteFlashcardItem(this)" class="btn btn-xs btn-danger pull-right">'+
                				'<span class="glyphicon glyphicon-trash"></span></a> </li>';
                	}
                }
                else {
                    alert(data.msg);
                }
               	
               	$('#'+$('#flashcard-item-target').val()).html(elem);
				$('#'+$('#flashcard-item-target').val()).hide();
            },
            complete: function (xhr, status) {
        		$('#tambahFlashcardItem').modal('hide');	
        		
            	$('#'+$('#flashcard-item-target').val()).fadeIn();
				

        		$('#flashcard-item-name').val('');
				$('#flashcard-item-target').val('');
				$('#flashcard-item-flashcard').val('');
            	
			}
        });
	}

	function deleteFlashcardItem(elem){
		console.log(elem);
		csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
        console.log("csrf token: "+csrftoken);
        
        $.ajax({
            url : "/api/flashcard/item/delete/",
            type: "POST",
            data: 'flashcard-item-id='+$(elem).attr('data'),
            beforeSend: function(xhr, settings){
                console.log(settings);
                if (!csrfSafeMethod(settings.type)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }

            },
            success : function(data){
                
                if (data.error == 200){
                	$(elem).parent().fadeOut('slow', function(){ 
			    	 	$(elem).parent().remove();
			        });	
                }
                else {
                    alert(data.msg);
                }
            },
            complete: function (xhr, status) {
        		
			}
        });
    }
</script>

{% endblock %}