{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/task_project">Daftar Proyek</a></li>
      <li><a href="/task_project/{{ task_group.task_project.id  }}">Detail</a></li>
      <li><a href="/task_project/groups/{{ task_group.task_project.id }}">Task Group</a></li>
      <li><a href="/task_project/groups/detail/{{ task_group.id }}">Detail Task Group</a></li>
      <li class="active">Tambah Tasks</li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">Tambah Tasks</span>
    <br/>
    <br/>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
          <form class="form-horizontal"action="/tasks/add/{{ task_group.id }}" method="post">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 control-label">Nama</label>
                    <div class="col-lg-10">
                      <!-- <input class="form-control" id="inputEmail1" placeholder="Email" type="email"> -->
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Deskripsi</label>
                    <div class="col-lg-10">
                      <!-- <input class="form-control" id="inputPassword1" placeholder="Password" type="password"> -->
                      {{ form.description.errors }}
                      {{ form.description }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Status</label>
                    <div class="col-lg-10">
                      {{ form.status.errors }}
                      {{ form.status }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Eksekutor</label>
                    <div class="col-lg-10">
                      {{ form.executor.errors }}
                      {{ form.executor }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Task Group</label>
                    <div class="col-lg-10">
                        {{ form.task_group.errors }}
                        {{ form.task_group }}
                        {{ form.owner.errors }}
                        {{ form.owner }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Mulai Tugas</label>
                    <div class="col-lg-10">
                      {{ form.start_time.errors }}
                      {{ form.start_time }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Akhir Tugas</label>
                    <div class="col-lg-10">
                      {{ form.end_time.errors }}
                      {{ form.end_time }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <input type="submit" class="btn btn-info" value="Simpan" />
                    </div>
                  </div>
            </form>
      </div>
    </div>
</div>

{% load staticfiles %}

<link href="{% static 'js/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-timepicker/jquery-ui-timepicker-addon.min.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery-timepicker/jquery-ui-timepicker-addon.min.js' %}"></script>

<script type="text/javascript">
    $( "#id_start_time" ).datetimepicker({
      dateFormat: 'yy-mm-dd',
      timeFormat: 'HH:mm'
    });
    
    $( "#id_end_time" ).datetimepicker({
      dateFormat: 'yy-mm-dd',
      timeFormat: 'HH:mm'
    });
</script>


{% endblock %}