{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/task_project">Daftar Proyek</a></li>
      <li><a href="/task_project/{{ task_project.id }}">Detail</a></li>
      <li><a href="/task_project/groups/{{ task_project.id }}">Task Group</a></li>
      <li class="active">Tambah Task Group</li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">Tambah Task Group</span>
    <br/>
    <br/>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
          <form class="form-horizontal"action="/task_project/groups/add/{{ task_project.id }}" method="post">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 control-label">Nama</label>
                    <div class="col-lg-10">
                      <!-- <input class="form-control" id="inputEmail1" placeholder="Email" type="email"> -->
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Deskripsi</label>
                    <div class="col-lg-10">
                      <!-- <input class="form-control" id="inputPassword1" placeholder="Password" type="password"> -->
                      {{ form.description.errors }}
                      {{ form.description }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Proyek</label>
                    <div class="col-lg-10">
                        {{ form.task_project.errors }}
                        {{ form.task_project }}
                        {{ form.owner.errors }}
                        {{ form.owner }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <input type="submit" class="btn btn-info" value="Simpan" />
                    </div>
                  </div>
            </form>
      </div>
    </div>

  <!-- 
    <form action="/task_project/add" method="post">
    	{% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit" />
    </form> -->
</div>
{% endblock %}