{% extends "main/layout.html" %}

{% block main_content %}
{% if task.owner.id == user_id %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/task_project">Daftar Proyek</a></li>
      <li><a href="/task_project/{{ task.task_group.task_project.id }}">Detail</a></li>
      <li><a href="/task_project/groups/{{ task.task_group.task_project.id }}">Task Group</a></li>
      <li><a href="/task_project/groups/detail/{{ task.task_group.id }}">Detail Task Group</a></li>
      <li class="active">Detail Task</li>
    </ol>
</div>
{% endif %}
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">{{ task.name|title }}</span>
    
    {% if task.owner.id == user_id %}
    <a href="/tasks/delete/{{ task.id }}" class="btn btn-danger btn-sm pull-right"><span class="glyphicon glyphicon-trash"></span> &nbsp; Hapus Task</a>
    <a href="/tasks/edit/{{ task.id }}/{{ task_project.id }}" class="btn btn-success btn-sm pull-right" style="margin-right:10px;"><span class="glyphicon glyphicon-pencil"></span> &nbsp; Edit Task</a>
    {% endif %}
    <br/>
    <br/>
</div>
<div class="col-md-12">
    <div class="col-md-3">
        <div class="panel panel-primary" id="panel-task-info">
          <div class="panel-heading">
            <h4 class="panel-title">Info</h4>
          </div>
          <div class="panel-body" style="word-wrap:break-word;">
            Task Group:<br/>{{ task.task_group.name }} <br/><br/>
            Tanggal Dibuat:<br/>{{ task.created_time }} <br/><br/>
            Pemilik: {{ task.owner }} <br/><br/>
            Mulai ({{ task.start_time }})<br /><br />
            Selesai ({{ task.end_time }})<br /><br />
            Status: <span id="task_status_info">{{ task.get_status_display }} </span> &nbsp;&nbsp;&nbsp;<a id='show-panel-change-task-status' href="javascript:void(0);" style="display:none;"><span class="glyphicon glyphicon-pencil"></span></a>
          </div>
        </div>
        <div class="panel panel-warning" id='panel-change-task-status' style="display:none;">
          <div class="panel-heading">
            <h4 class="panel-title">Edit Task</h4>
          </div>
          <div class="panel-body">
            <form class="form-horizontal"action="/tasks/discussion/add" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label class="pull-left col-lg-6 control-label">Status Task</label>
                </div>
                <div class="form-group">
                  <div class="col-lg-12">
                    <input type="hidden" name="task_id" id="task_id" value="{{ task.id }}" />
                    <select class="form-control" name="task_status" id="task_status" onchange="changeTaskStatus(this);">
                      <option value="{{ task.status }}">{{ task.get_status_display }}</option>
                      {% for key, value in tasks_status.items %}
                      <option value="{{ key }}">{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
            </form>
            </div>
        </div>
        <div class="panel panel-default" id="panel-task-attachment">
          <div class="panel-heading">
            <h4 class="panel-title">Lampiran</h4>
          </div>
          <div class="panel-body" style="word-wrap:break-word;">
            <ul style="margin-left:-20px;">
            {% for item in list_attachment %}
            <li>
              <a  href="javascript:void(0);" onclick="showAttachment(this);" data-file-name='{{ item.name }}' data-file-url='http://localhost:8000/media/{{ item.name }}'>{{ item.file_name }}</a> &nbsp;&nbsp;&nbsp;
              {% if task.owner.id == user_id %}
              <a style="display:none;" class="delete-attachment-item" id="delete-attachment-{{ item.name }}"  data-id-attachment="{{ item.id }}" href="javascript:void(0);" onclick="deleteAttachment(this, 'sidebar');" ><span class="glyphicon glyphicon-trash"></span></a>
              {% endif %}
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">Eksekutor</h4>
          </div>
          <div class="panel-body" style="word-wrap:break-word;">
            <ul style="margin-left:-20px;">
            {% for user in task.executor.all %}
            <li>{{ user.username }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">Deskripsi</h4>
          </div>
          <div class="panel-body" style="word-wrap:break-word;">
            {{ task.description }} 
          </div>
          {% if task.owner.id == user_id %}
          <div class="panel-footer">
            <div>
              <button type="button" class="btn btn-success btn-xs" onclick="openFormAttachment();"><span class="glyphicon glyphicon-tags"></span> &nbsp; Lampiran</button>
            </div>
          </div>
          {% endif %}
        </div>
        {% if task.owner.id == user_id %}
        <div class="panel panel-danger" id="form-task-attachment" style="display:none;">
          <div class="panel-heading">
            <h4 class="panel-title">Unggah lampiran <button type="button" class="pull-right btn btn-danger btn-xs" onclick="closeFormAttachment();"><span class="glyphicon glyphicon-remove"></span> &nbsp;Tutup</button></h4>
          </div>
          <div class="panel-body">
            <form class="form-horizontal"action="/tasks/attachment/add" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="form-group">
                    <div class="col-lg-10">
                      {{ attachment_form.task.errors }}
                      {{ attachment_form.file.errors }}
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Lampiran</label>
                    <div class="col-lg-10">
                      {{ attachment_form.file}}
                      {{ attachment_form.task }}
                      {{ attachment_form.source }}
                      
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <input type="submit" class="btn btn-info" value="Kirim" />
                    </div>
                  </div>
            </form>
          </div>
        </div>
        {% endif %}
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">Diskusi</h4>
          </div>
          <div class="panel-body">
            {% load tasks_filter %}
            {% for discussion in list_discussion %}
               <div class="comment-box">
                  <div class="comment-box-head">
                    <span>Dikirim <strong>{{ discussion.sender.username }}</strong> pada <strong>{{ discussion.created_time }}</strong></span> 
                    {% if discussion.sender.id == user_id %}
                      {% if discussion|isinst:"tasks.models.TaskAttachment" %}
                      <!-- <span class="pull-right"><a class="btn btn-danger btn-xs" href="/tasks/attachment/delete/{{ discussion.id }}"><span class="glyphicon glyphicon-trash"></span></a></</span> -->
                      <a class="delete-attachment-item btn btn-danger btn-xs pull-right" id="delete-attachment-{{ item.name }}"  data-id-attachment="{{ discussion.id }}" href="javascript:void(0);" onclick="deleteAttachment(this, 'discussion');" ><span class="glyphicon glyphicon-trash"></span></a>
                      {% else %}
                      <!-- <span class="pull-right"><a class="btn btn-danger btn-xs" href="/tasks/discussion/delete/{{ discussion.id }}"><span class="glyphicon glyphicon-trash"></span></a></</span> -->
                      <a class="btn btn-danger btn-xs pull-right" id="delete-attachment-{{ item.name }}"  data-id-discussion="{{ discussion.id }}" href="javascript:void(0);" onclick="deleteDiscussion(this);" ><span class="glyphicon glyphicon-trash"></span></a>
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="comment-box-content" style="word-wrap:break-word;">
                    <hr/>
                    {% if discussion|isinst:"tasks.models.TaskAttachment" %}
                      {% if discussion.name|is_image %}
                      <img  style="display:block; margin-left: auto;margin-right: auto;" src="/media/{{ discussion.name }}" alt="{{ discussion.name }}" />
                      {% elif discussion.name|is_video %}
                       <video style="display:block; margin-left: auto;margin-right: auto;" width="400" height="240" controls>
                          <source src="/media/{{ discussion.name }}" type="video/mp4">
                          Your browser does not support the video tag.
                        </video> 
                      {% elif discussion.name|is_pdf %}
                        {% load staticfiles %}
                         <iframe  width='680px' height='400px' style="display:block; margin-left: auto;margin-right: auto;" src="{% static 'js/pdfjs/web/viewer.html' %}?file=http://localhost:8000/media/{{ discussion.name }}" allowfullscreen webkitallowfullscreen>
                         </iframe> 
                      
                      {% else %}
                      <a  href="/media/{{ discussion.name }}" target="_blank">{{ discussion.name }}</a>
                      {% endif %}
                    {% else %}
                      {{ discussion.message }}
                    {% endif %}
                  </div>
               </div>
            {% endfor %}
            <hr/>
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#comment" data-toggle="tab">Komentar</a></li>
              <li class=""><a href="#file" data-toggle="tab">File</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="comment">
                <br/>
            
                <form class="form-horizontal"action="/tasks/discussion/add" method="post">
                    {% csrf_token %}
                      <div class="form-group">
                        <div class="col-lg-10">
                          {{ discussion_form.sender.errors }}
                          {{ discussion_form.task.errors }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword1" class="col-lg-2 control-label">Pesan</label>
                        <div class="col-lg-10">
                          <!-- <input class="form-control" id="inputPassword1" placeholder="Password" type="password"> -->
                          {{ discussion_form.message.errors }}
                          {{ discussion_form.message }}
                          {{ discussion_form.sender }}
                          {{ discussion_form.task }}
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                          <input type="submit" class="btn btn-info" value="Kirim" />
                        </div>
                      </div>
                </form>
                
              </div>
              <div class="tab-pane fade" id="file">
                  <br/>
            
                   <form class="form-horizontal"action="/tasks/attachment/add" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="form-group">
                          <div class="col-lg-10">
                            {{ comment_attachment_form.task.errors }}
                            {{ comment_attachment_form.file.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword1" class="col-lg-2 control-label">Komentar Lampiran</label>
                          <div class="col-lg-10">
                            {{ comment_attachment_form.file}}
                            {{ comment_attachment_form.task }}
                            {{ comment_attachment_form.source }}
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                            <input type="submit" class="btn btn-info" value="Kirim" />
                          </div>
                        </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% load staticfiles %}
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script type="text/javascript">

$(document).ready(function(){
    $('#show-panel-change-task-status').click(function(){
        $('#panel-change-task-status').slideDown();
    });

    $('#panel-task-info').mouseenter(function(){
        console.log('di dalam...');
        $('#show-panel-change-task-status').show();
    }).mouseleave(function(){
        console.log('di luar....');
        $('#show-panel-change-task-status').hide();
    });

    $('#panel-task-attachment').mouseenter(function(){
        console.log('di dalam...');
        $('#panel-task-attachment > div > ul > li > a.delete-attachment-item').each(function(index, item){
            $(item).show();
        });
    }).mouseleave(function(){
        console.log('di luar....');
        $('#panel-task-attachment > div > ul > li > a.delete-attachment-item').each(function(index, item){
            $(item).hide();
        });
    });

    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })

});

function openFormAttachment(){
    console.log('hahahah');
    $('#form-task-attachment').slideDown();
}

function closeFormAttachment(){
    console.log('hahahah');
    $('#form-task-attachment').slideUp();
}

function changeTaskStatus(elem){
  console.log($('#task_id').val());
  console.log($(elem).val());
  csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
  console.log("csrf token: "+csrftoken);
  $.ajax({
        url : "/api/tasks/change/",
        type: "POST",
        data: "task_status="+$(elem).val()+"&task_id="+$('#task_id').val(),
        beforeSend: function(xhr, settings){
            console.log(settings);
            if (!csrfSafeMethod(settings.type)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        success : function(data){
            if (data.error == 0){
                console.log(data.msg);
                // $(elem).parent().fadeOut('fast');
                // getAllUsers();
                $('#task_status_info').html(data.result);
                $('#panel-change-task-status').slideUp();
            }
            else {
                console.log(data.msg);
            
            }
        }
    });
}

function deleteAttachment(elem, source){
    if (source == 'sidebar'){
      $(elem).parent().fadeOut();
    }
    else {
      $(elem).parent().parent().fadeOut();
    }

    console.log($(elem).attr('data-id-attachment'));
    csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
    console.log("csrf token: "+csrftoken);
    $.ajax({
          url : "/api/tasks/attachment/delete/",
          type: "POST",
          data: "attachment_id="+$(elem).attr('data-id-attachment'),
          beforeSend: function(xhr, settings){
              console.log(settings);
              if (!csrfSafeMethod(settings.type)) {
                  // Send the token to same-origin, relative URLs only.
                  // Send the token only if the method warrants CSRF protection
                  // Using the CSRFToken value acquired earlier
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          },
          success : function(data){
              if (data.error == 0){
                  console.log(data.msg);
                  // $(elem).parent().fadeOut('fast');
                  // getAllUsers();
              }
              else {
                  console.log(data.msg);
              
              }
          }
      });
}

function deleteDiscussion(elem){
    
    $(elem).parent().parent().fadeOut();
    
    console.log($(elem).attr('data-id-discussion'));
    csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
    console.log("csrf token: "+csrftoken);
    $.ajax({
          url : "/api/tasks/discussion/delete/",
          type: "POST",
          data: "task_discussion_id="+$(elem).attr('data-id-discussion'),
          beforeSend: function(xhr, settings){
              console.log(settings);
              if (!csrfSafeMethod(settings.type)) {
                  // Send the token to same-origin, relative URLs only.
                  // Send the token only if the method warrants CSRF protection
                  // Using the CSRFToken value acquired earlier
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          },
          success : function(data){
              if (data.error == 0){
                  console.log(data.msg);
                  // $(elem).parent().fadeOut('fast');
                  // getAllUsers();
              }
              else {
                  console.log(data.msg);
              
              }
          }
      });
}

function showAttachment(elem){
    file_url = $(elem).attr('data-file-url');
    file_name = $(elem).attr('data-file-name');
    console.log(file_name);
    file_ext = file_name.substr(file_name.lastIndexOf('.'));
    
    viewer = '';
    
    if (file_ext == '.jpg' || file_ext == '.png'){
        viewer = '<img style="display:block; margin-left: auto;margin-right: auto;"width="80%" src="'+file_url+'" alt="'+file_name+'" />'
    }
    else if (file_ext == '.pdf'){
        viewer = "<iframe width='550px' height='400px' style='display:block; margin-left: auto;margin-right: auto;' src='{% static 'js/pdfjs/web/viewer.html' %}?file="+file_url+"' allowfullscreen webkitallowfullscreen>"+
                         "</iframe>";
    }
    else if (file_ext == '.mp4'){
        viewer =  '<video style="display:block; margin-left: auto;margin-right: auto;" width="400" height="240" controls> '+
                    '<source src="'+file_url+'" type="video/mp4"> '+
                    'Your browser does not support the video tag. '+
                  '</video>  ';
                      
    }

    $('h4.modal-title').html(file_name);
    $('div.modal-body').html(viewer);
    $('#myModal').modal('show')

}
</script>
{% endblock %}