{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/task_project">Daftar Proyek</a></li>
      <li><a href="/task_project/{{ task_group.task_project.id }}">Detail</a></li>
      <li><a href="/task_project/groups/{{ task_group.task_project.id }}">Task Group</a></li>
      <li class="active">Detail Task Group</li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">{{ task_group.name }}</span>
    <a href="/tasks/add/{{ task_group.id }}/{{ task_project.id }}" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> &nbsp; Buat Task</a>
    <br/>
    <br/>
</div>
<div class="col-md-12">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#home">Tasks</a></li>
      <li><a href="#profile">Detail</a></li>
      <li><a href="#messages">Stats</a></li>
    </ul>

    <div class="tab-content">
      <div style="padding: 20px 20px 20px 20px" class="tab-pane active" id="home">
            {% if tasks %}
            <table class="table table-striped">
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td style="text-align:center;">
                            <a class="btn btn-info btn-xs" href="/tasks/{{ task.id }}"><span class="glyphicon glyphicon-eye-open"></span></a> 
                            <a class="btn btn-success btn-xs" href="/tasks/edit/{{ task.id }}/{{ task_project.id }}"><span class="glyphicon glyphicon-pencil"></span></a>  
                            <a class="btn btn-danger btn-xs" href="/tasks/delete/{{ task.id }}"><span class="glyphicon glyphicon-trash"></span></a> 
                          </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div style="text-align:center;font-size:20px;padding-top:20px;padding-bottom:30px;" class="well">
                Anda belum membuat task satupun untuk task group ini..
            </div>
            {% endif %}   
          
      </div>
      <div style="padding: 20px 20px 20px 20px" class="tab-pane" id="profile">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">{{ task_group.task_project.name }}</h4>
            </div>
            <div class="panel-body">
              <p>Dibuat pada tanggal: {{ task_group.created_time }}</p>

              <p>{{task_group.description}}</p>
            </div>
          </div>
          
      </div>
      <div style="padding: 20px 20px 20px 20px" class="tab-pane" id="messages">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"></h4>
            </div>
            <div class="panel-body">
              <table class="table table-striped">
                <tbody>
                    <tr>
                        <td colspan="2">Task</td>
                        <td style="text-align:center;">
                          {{ tasks|length }}
                        </td>
                    </tr>
                    <tr>
                        <td>Planning</td>
                        <td>Ongoing</td>
                        <td>Reviewed</td>
                   </tr>
                   <tr>
                        <td>{{ task_summary.planning }}</td>
                        <td>{{ task_summary.ongoing }}</td>
                        <td>{{ task_summary.reviewed }}</td>
                   </tr>
                   <tr>
                        <td>Finished</td>
                        <td>Pending</td>
                        <td>Failed</td>
                   </tr>
                   <tr>
                        <td>{{ task_summary.finished }}</td>
                        <td>{{ task_summary.pending }}</td>
                        <td>{{ task_summary.failed }}</td>
                   </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
</div>

{% load staticfiles %}
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script>
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })

</script>
{% endblock %}