{% extends "main/layout.html" %}

{% block main_content %}
<div class="col-md-12">
    <ol class="breadcrumb">
      <li class="active">Daftar Tugas</li>
    </ol>
</div>
<div class="col-md-12">
    <span style="font-size:30px;font-weight:strong;">Tugas Anda!!!</span>
    <!-- <a href="/task_project/add" class="btn btn-primary btn-sm pull-right">Buat Proyek Baru</a> -->
    <br/>
    <br/>
</div>
<div class="col-md-12">
    {% if tasks %}
    <table  class="table table-striped">
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.task_group.name }} <br/> ( {{ task.task_group.task_project.name }} )</td>
                <td>Ditugaskan oleh {{ task.owner }} <br/> dikerjakan dari {{ task.start_time }} hingga {{ task.end_time }}</td>
                <td>{{ task.get_status_display }}</td>
                <td style="text-align:center;">
                    <!-- <a class="btn btn-primary btn-xs" href="/task_project/member/{{ task.task_group.task_project.id }}"><span class="glyphicon glyphicon-user"></span></a> --> 
                    <a class="btn btn-info btn-xs" href="/tasks/{{ task.id }}"><span class="glyphicon glyphicon-eye-open"></span></a> 
                    <!-- <a class="btn btn-success btn-xs" href="/task_project/edit/{{ project.id }}"><span class="glyphicon glyphicon-pencil"></span></a>   -->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div style="text-align:center;font-size:20px;padding-top:20px;padding-bottom:30px;" class="well">
        Anda belum diajak siapapun untuk ikut proyek..
    </div>
    {% endif %}  
</div>
{% endblock %}
